<h2>A Question from {{model.author}}</h2>
<h3>{{model.question}}</h3>
{{model.notes}}
<p></p>
{{question-edit questionToEdit=model updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}}
<hr>
{{answer-list answersList=model.answers voteAnswer="voteAnswer" deleteAnswer="deleteAnswer"}}
{{answer-new questionToAnswer=model saveAnswer="saveAnswer"}}
